<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>versatile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-nA3fsJZtWui4ZgSkDjtafDeUdJxqI8NNUj+Kcgzb4X85mUfHAm/gkMeP7fUkVqBEKK5vZkYjl8rvpb9DG13GLg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- link file css -->
    <link rel="stylesheet" href="/stylesheet/user/new.css">
    <style>
        /* Your existing CSS styles go here */
        .pagination {
    order: -1; /* Display pagination first visually */
}
        /* Footer styles */
        footer {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
          
            bottom: 0;
            width: 100%;
			
        }
           /* Pagination styles */
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        position: absolute;
        left:1400px;
    }

    .pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pagination button i {
    font-size: 24px;
    color: #be2b2b; /* Change the color as desired */
}

.pagination button:hover i {
    color: #007bff; /* Change the hover color as desired */
}
.search-form button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    /* Style for the search icon inside the button */
    .search-form button i {
        color: #000; /* Change this color to the desired color for the icon */
        font-size: 18px; /* Adjust the font size of the icon */
    }
    </style>

</head>


<body>



    <div class="contanier">

      
        <nav>
			
            <div class="logo">
				
                <div class="pagination">
                    <button class="prev"><i class="fas fa-chevron-left"></i></button>
               &nbsp;
                    <button class="next"><i class="fas fa-chevron-right"></i></button>
                </div>
                
                
        
                <h1><i class="fa-solid fa-book fa-2x"></i>&nbsp;Versatile</h1>
            </div>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/books">Shop</a></li>
				<li><a href="/profile">Profile</a></li>
				<li class="dropdown">
					<a href="/profile">Account <i class="fas fa-caret-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="/login">Login</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
			
			

            <form action="/search" method="GET" class="search-form">
                <a href="#" class="search-icon"><i class="fas fa-search"></i></a>
                <input type="text" name="q" placeholder="Search..." class="search-input">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            
        </nav>



        <!-- First Content Section -->
        <div class="content">
            <div class="div-text">
                <span>Author:Aldous Huxley</span>
              
                <h1>Brave New World</h1>

                <p> A dystopian novel that imagines a future society where people are engineered <br> 
                 and conditioned for conformity<br>
                , exploring themes of technology, social control .</p>
              
                    <a href="#" class="btn">Add to cart</a>
            </div>

            <div class="div-img">
                <img class="big-img" src="/img/book2.png" alt="">
            </div>

         
        </div>




        <!-- Second Content Section -->
        <div class="content">
            <!-- Content here (similar structure to the first one) -->
            <div class="div-text">
                <span>Author:miranda</span>
              
                <h1>the paper palace</h1>
      
                <p>  A Gothic romance novel following the orphaned Jane Eyre as she faces challenges, <br> 
                    finds love, and seeks independence amidst societal<br>
                ,       expectations and secrets.</p>
              
                    <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="div-img">
                <img class="big-img" src="/img/book1.png" alt="">
            </div>

        </div>




        <!-- Third Content Section -->
        <div class="content">
            <!-- Content here (similar structure to the first one) -->
            <div class="div-text">
                <span>Author:Sylvia Plath</span>
              
                <h1>    M MC</h1>
                <p>A semi-autobiographical novel that follows Esther Greenwood's <br> 
                    descent into mental illness, addressing themes of identity, societal<br>pressures, and female experience.</p>
                    <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="div-img">
                <img class="big-img" src="/img/bookm1-.png" alt="">
            </div>

            
        </div>
f

        



        <!-- Fourth Content Section -->
        <div class="content">
            <!-- Content here (similar structure to the first one) -->
			<div class="div-text">
                <span>Author:keith</span>
              
                <h1>kojiki</h1>
                <p>groundbreaking science fiction novel that delves into themes of creation, <br> 
                    responsibility, and humanity through the story <br> minus culpa.</p>
                    <a href="#" class="btn">Add to cart</a>
            </div>


            <div class="div-img">
                <img class="big-img" src="/img/bookm8-.png" alt="">
            </div>

           
        </div>
      


    </div>
</div>
      


    <script>
   document.addEventListener('DOMContentLoaded', function () {
    const contentSections = document.querySelectorAll('.content');
    const contentsPerPage = 3; // Assuming 3 contents per page
    const prevButton = document.querySelector('.prev');
    const nextButton = document.querySelector('.next');
    const pageNumbersContainer = document.querySelector('.pagination');
    let currentPage = 1;

    function showHideContent() {
        contentSections.forEach((content, index) => {
            if (index < currentPage * contentsPerPage && index >= (currentPage - 1) * contentsPerPage) {
                content.style.display = 'flex'; // Assuming content is initially hidden
            } else {
                content.style.display = 'none';
            }
        });
    }

    function updatePagination() {
        showHidePaginationIcon(); // Update the pagination icon visibility
    }

    prevButton.addEventListener('click', function () {
        if (currentPage > 1) {
            currentPage--;
            showHideContent();
        }
    });

    nextButton.addEventListener('click', function () {
        if (currentPage < Math.ceil(contentSections.length / contentsPerPage)) {
            currentPage++;
            showHideContent();
        }
    });

    // Initial display and pagination setup
    showHideContent();
    updatePagination();
});

        </script>

  
    <script>
        
    </script>
</body>
</html>
