<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Change</title>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  .container {
 
    max-width: 400px;
    margin: 200px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
</style>
</head>
<body>
  <div class="container">

    <h2>Reset Password</h2>
    <h2>

      <% if( typeof message!== 'undefined') { %>
          <%= message %>
      <% } %>
  </h2>
  

    <form action="/postRestpassword" method="POST" id="passwordForm" onsubmit="return validateform()">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <div id="passwordError" class="error-message"></div>
      <input type="hidden" name="user_id" value="<%= user_id%>">

  
      <button type="submit">Change Password</button>
    </form>

  </div>
  <script>
  function validateform(){
const password= document.getElementById("newPassword").value.trim();
const passwordError = document.getElementById("passwordError");

if(password==='')
{
  passwordError.innerText="password is required";
  return false;
}
else if(!validatePassword(password)){
  passwordError.innerText="Passwords must have a minimum length of 8 characters and contain no special characters.";

   return false;
}else{
  passwordError.innerText='';
  return true;
}
  }
  function validatePassword(password){
    var passwordPattern = /^[a-zA-Z0-9]{8,}$/;
    return passwordPattern.test(password);
  }
  </script>
</body>
</html>
