<div class="navbar">
    <nav class="main-nav">
      <div>
        <button id="sidebar-toggle" class="sidebar-toggle-btn custom-btn"><i class="fas fa-bars"></i></button>
      </div>
      <div class="sidebar">
        <div id="accordion">
            <ul>
                <li><a href="/admin/Insite" data-tag="dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                <li><a href="/admin/UserManage" data-tag="dashboard"><i class="fas fa-tachometer-alt"></i>user manage</a></li>
                <li><a href="/admin/category" data-tag="category"><i class="fas fa-address-book"></i>Category Details</a></li>
                <li><a href="/admin/products" data-tag="product"><i class="fas fa-clone"></i>Product Details</a></li>
                <li><a href="/admin/order" data-tag="order"><i class="fas fa-calendar"></i>Order & Payment</a></li>
                <li><a href="/admin/getsalesReport" data-tag="sales"><i class="fas fa-chart-bar"></i>Sales Report</a></li>
            
                <li><a href="/admin/couponmanageadmin" data-tag="coupon"><i class="fas fa-copy"></i>Coupon</a></li>
                <li><a href="/adminlogout">Logout</a></li>
            </ul>
        </div>
      </div>
        <div>
            <h1>Versatile</h1>
        </div>
  